html {
  background-color: white;
}

h1 {
  font-size: 60px;
  color: rgb(33, 64, 48);
  font-weight: bolder;
  text-align: center;
}

body {
  font-size: x-large;
  /* background-color: rgb(249, 249, 233); */
}

h2 {
  font-size: 30px;
  font-style: oblique;
  color: rgb(96, 8, 55);
}

/*+Style for each container on the vertical rule*/
.timeline {
  position: relative;
  width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
